html, body {
    height: 100%;
}

body {
    background-color: #000;
    font-size: 0.85em;
    font-family: Arial, Helvetica, Sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    width: 800px;
    margin: 1em auto;
}

#header {
    height: 75px;
    background: url('logo.png') no-repeat;
}

#content {
    position: relative;
	background-color: #FFF;
	color: #000;
	border: yellow solid 4px;
	padding: 1em;
}

#scoreboard {
    margin: 0px;
    float: right;
}
