html, body {
    height: 100%;
}

body {
    background-color: #000;

    font-size: 0.85em;
    font-family: Arial, Helvetica, Sans-serif;
    color: #FFF;

    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;

    width: 1000px;

    margin: 1em auto;
}

#header {
    height: 75px;

    background: url('logo.png') no-repeat;
}

#nav {
    position: absolute;
    top: 15px;
    right: 0;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    float: left;
    width: 120px;

    text-align: center;
}

#nav a, #nav a:visited {
    display: inline-block;

    font-size: 1.2em;
    color: #FFF;
    font-weight: bold;

    text-decoration: none;
}

#nav a:hover {
    border-bottom: 5px solid yellow;
}

#content {
    position: relative;

	background-color: #FFF;

	color: #000;

	border: yellow solid 4px;

	padding: 1em;
}

h1 {
    margin: 0 0 1em 0;
    padding: 0;
}

/*
    Tables with Statistics
*/

.stats {
    cellpadding: 0;
	width: 100%;
}

.stats th {
	color: #000;
    border-bottom: 3px solid yellow;
	padding: 2px 10px;
}

.stats td {
    text-align: center;
	line-height: 1.4;
    padding: 0.4em;
}

.stats tbody tr:hover {
	background: #FFF673;
}

.stats col .head {
    font-weight: bold;
}

/*
    Forms
*/

form legend {
  font-weight: bold;
}

form li {
    margin: 1em 0.5em;
}

form label {
    display: inline-block;
    line-height: 1.9;
    vertical-align: top;
    text-align: left;
    width: 120px;
    margin-right: 0.5em;
}

form fieldset {
  padding: 5px;
}

form em {
  color: #f00;
}

/*
    Board and Scoreboard
*/

#board {
    width: 700px;
    float: left;
}

#game-board {
    width: 100%;

    background: #000;

    font-size: 1.2em;
    color: #FFF;
}

#game-board td {
    width: 23px;
    height: 23px;

    vertical-align: middle;
    text-align: center;
}

#score-board {
    margin: 0px;
    float: right;
}

.clearer {
    clear: both;
}

/*
    Admin Board / Game
*/

#container {
    position: relative;
    top: 0;
}

#admin-board {
    width: 40%;
    float: left;
}

#maps {
    display: none;
}

#sidebar {
    width: 50%;
    float: right;
}
